*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #ffffff;
    --secundaria: #7e7e7e;
    --escuro: #040404;
    --maisEscuro: #000000;
    --claro: #fafafa;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro); 
    color: var(--claro); 
 }

 .navegacao {
    
    position: fixed; /* fixa a barra de navegação no topo da página */
    top: 0; /* posiciona a barra de navegação no topo */ 
    background: rgba(17, 17, 17, 0.8); /* cor de fundo com transparência */
    width: 100%; /* largura total da "caixa" */
    z-index: 100; /* garante que a barra fique acima de outros elementos */
    padding: 1.5rem; /* espaçamento interno */

 }


 .menu {
    display: flex; /* deixa os itens na mesma linha um ao lado do outro */
    list-style: none; /* remove os marcadores padrão da lista */
    gap: 3rem; /* espaçamento entre os itens */
    justify-content: center;  /* centraliza os itens horizontalmente (no meio da pagina) */
    
 }
 .menu-link {
    text-decoration: none; /* remove o sublinhado dos links */
    color: var(--claro); /* cor do texto */
    font-weight: 500; /* deixa o texto em negrito */
    position: relative; /* necessário para o pseudo-elemento */
    padding: 0.5rem; /* espaçamento interno para o link */
   }

.menu-link::after {
    content: ''; /* necessário para criar o pseudo-elemento */
    height: 2px; /* altura da linha */
    width: 0%; /* largura total do link */
    position: absolute; /* posicionamento absoluto */
    bottom: 0; /* posiciona a linha na parte inferior do link */
    left: 0; /* alinha a linha à esquerda */
    background: linear-gradient(90deg, var(--primaria), var(--secundaria)); /* cor da linha */
    transition: width 0.5s ease; /* animação suave para a largura */
   
}

.menu-link:hover::after {
    width: 100%; /* expande a linha para a largura total do link ao passar o mouse */
}

.cabecalho {
    display: flex; /* deixa os itens na mesma linha um ao lado do outro */
    flex-direction: row; /* organiza os itens em coluna */
    align-items: center; /* centraliza os itens horizontalmente */
    justify-content: center; /* centraliza os itens verticalmente */
    height: 100vh; /* altura total da tela */
    text-align: center; /* centraliza o texto */
    gap: 9rem; /* espaçamento entre os elementos */
    padding: 0 2rem; /* espaçamento interno nas laterais */
}

/* container do texto para manter h1 e subtítulo empilhados */
.cabecalho-texto {
    display: flex; /* deixa os itens na mesma linha um ao lado do outro */
    width: 360px; /* largura do container de texto */
    flex-direction: column; /* organiza os itens em coluna */
    align-items: center;    /* alinha os itens à esquerda */
    gap: 0.5rem; /* espaçamento entre os elementos */
}

.foto-perfil {
    
    display: flex; /* deixa os itens na mesma linha um ao lado do outro */
    flex-direction: column; /* organiza os itens em coluna */
    align-items: flex-start; /* alinha os itens à esquerda */
    gap: 0.5rem; /* espaçamento entre os elementos */
    width: 400px; /* largura da foto */
    height: 400px; /* altura da foto  */
    border-radius: 50%; /* bordas arredondadas */
    animation: flutuar 4s ease-in-out infinite; /* animação de flutuar */
    box-shadow: 1px 1px 120px rgb(78, 78, 78), 0 0 20px rgba(126,126,126,0.08);
    transition: box-shadow 0.5s ease, transform 0.4s ease;
    
}

h1 {
    font-size: 3.5rem; /* tamanho da fonte */
    color: var(--primaria); /* cor do título */
    font-weight: bold; /* deixa o texto em negrito */
    margin: 20px; /* espaçamento ao redor do título */
}


.sub-titulo {
  font-size: 1.7rem;
  color: #fff;
}

.sub-titulo .typed-text {
  white-space: pre;
}

.cursor {
  display: inline-block;
  margin-right: 6px; /* quando estiver antes do texto */
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.sobre {
    padding: 6rem 2rem; /* espaçamento interno */

}

.sobre-titulo {
    text-align: center; /* centraliza o texto */
    font-size: 3rem; /* tamanho da fonte */
    color: var(--claro); /* cor do título */
    margin-bottom: 20px; /* espaçamento abaixo do título */


}

.sobre-caixa{
    padding: 3rem; /* espaçamento interno */
    max-width: 800px;  /* largura máxima da caixa */
    margin: 0 auto; /* centraliza a caixa horizontalmente */
    border-radius: 16px; /* bordas arredondadas */
    border: 1px solid var(--vidro); /* borda da caixa */
    backdrop-filter: blur(10px); /* efeito de vidro fosco */
    background: rgb(255, 255, 255, 0.05); /* cor de fundo com transparência */
}

.sobre-paragrafo{
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;     /* espaço entre linhas */
    white-space: pre-line;/* preserva quebras de linha no HTML (opcional) */
}

.projetos{
    
    padding: 6rem 2rem; /* espaçamento interno */
    background-color: var(--maisEscuro); /* cor de fundo da seção */
}

.projetos-titulo {
    text-align: center; /* centraliza o texto */
    font-size: 2rem; /* tamanho da fonte */
    color: var(--claro); /* cor do título */
    margin-bottom: 50px; /* espaçamento abaixo do título */

}


.projetos-caixa {
    display: grid; /* deixa os itens na mesma linha um ao lado do outro */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* cria colunas responsivas */
    gap: 2rem; /* espaçamento entre os itens */
    max-width: 1200px; /* largura máxima da caixa */
    margin: 0 auto; /* centraliza a caixa horizontalmente */
    padding: 0 2rem; /* espaçamento interno nas laterais */
   
}

.projetos-card{
    background: rgb(255, 255, 255, 0.05); /* cor de fundo com transparência */
    border: 1px solid var(--vidro); /* borda da caixa */
    border-radius: 16px; /* bordas arredondadas */
    backdrop-filter: blur(5px); /* efeito de vidro fosco */
    overflow: hidden; /* esconde o conteúdo que ultrapassa a caixa */
    transition: all 0.5s ease; /* animação suave para todas as propriedades */
    cursor: pointer; /* muda o cursor para indicar que é clicável */
}

.projetos-card:hover {
    box-shadow: 1px 1px 50px rgb(78, 78, 78), 0 0 20px rgba(126,126,126,0.08);
    transform: translateY(-10px) scale(1.05); /* levanta e aumenta a escala do cartão */
}

.hobby-imagem {
    height: 450px; /* altura da imagem */
    width: 100%; /* largura da imagem */
    object-fit: cover; /* mantém a proporção da imagem */
}
   

.info-projetos{
    margin-bottom: 5px;


}

.caixa-textos-projeto{
    padding: 1.5rem; /* espaçamento interno */
}

.info-paragrafo{    
    color: rgba(226, 232, 240, 0.8); /* cor do parágrafo com transparência */
    line-height: 1.25rem;
}



.contatos{

    padding: 6rem 2rem; /* espaçamento interno */

}
.contatos-titulo{
    text-align: center; /* centraliza o texto */
    font-size: 2rem; /* tamanho da fonte */
    margin-bottom: 50px; /* espaçamento abaixo do título */

}

.formulario-contatos{

    max-width: 600px; /* largura máxima do formulário */
    margin: 0 auto; /* centraliza o formulário horizontalmente */
    background: rgb(255, 255, 255, 0.05); /* cor de fundo com transparência */
    border-radius: 16px; /* bordas arredondadas */
    backdrop-filter: blur(5px); /* efeito de vidro fosco */
    padding: 2rem;
    border: 1px solid var(--vidro); /* borda da caixa */

}


.campo-form{
    width: 100%; /* largura total do campo */
    padding: 1rem; /* espaçamento interno */
    background: rgba(254, 254, 254, 0.05); /* cor de fundo com transparência */
    border-radius: 8px; /* bordas arredondadas */
    color: var(--claro); /* cor do texto */
    border: 1px solid var(--vidro); /* borda da caixa */
    outline: none; /* remove o contorno ao focar */

}

.campo-form:focus{
    border-color: var(--secundaria);
    box-shadow: 0 0 5px var(--secundaria);
}

.grupo-form{

    margin-bottom: 1.5rem;


}

.botao-form{
    color: rgb(0, 0, 0); /* cor do texto */
    background: linear-gradient(45deg, var(--primaria), var(--secundaria)); /* cor de fundo com gradiente */
    padding: 1rem 2rem; /* espaçamento interno */
    border: none; /* remove a borda padrão */
    border-radius: 8px; /* bordas arredondadas */
    cursor: pointer; /* muda o cursor para indicar que é clicável */
    font-weight: bold;
    width: 100%; /* largura total do botão */
    transition: 0.5s ease; /* animação suave para o fundo */
    font-size: 1.2rem; /* tamanho da fonte */
}

.botao-form:hover{
    background: linear-gradient(45deg, var(--secundaria), var(--primaria)); /* inverte as cores do gradiente ao passar o mouse */
    box-shadow: 0 0 10px var(--secundaria); /* adiciona sombra ao passar o mouse */
}


.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
    radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%), var(--maisEscuro);
    
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    
}
